@import "util";
@import "font";
@import "dialogs";
@import "inputs";
@import "vendor/index";
@import "components/index";
@import "pages/index";

#propertypanel-app {
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}